body{
margin: 0;
}

.formulario{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    grid-gap: 10px;
    justify-content: center;
    margin: 50px 20px;
}

.formulario .datos{
    background-color: #7c4200;
    border: 5px orange solid;
    border-radius: 13px;
    padding: 12px;
    
}

.formulario .datos input{
    float: left;
    margin: 5px;
    width: 300px;
    height: 30px;
}

.formulario .datos textarea{
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 5px;
}

.formulario .datos .enviar{
    
    float: right;
    margin-right: 79px;
    padding: 5px;

    
}

.datos h1{
    background-color: orange;
    border-radius: 13px;
    
}

h1 .titulo{
    background-color: orange;
    padding: 3px;
    border: 3px solid #7c4200;
    border-radius: 13px;
}