body{
margin: 0;
}

.formulario{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 330px;
    grid-gap: 10px;
    justify-content: center;
    margin: 50px 20px;
}

.formulario .datos{
    background-color: #7c4200;
    border: 5px orange solid;
    border-radius: 13px;
    padding: 12px;
    
}

.formulario .datos input{
    float: left;
    margin: 5px;
    width: 300px;
    height: 30px;
}

textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 298px;
    max-width: 100%;
    margin-left: 5px;
    resize: none;
    
}

.formulario .datos .enviar{
    
    
    margin-right: 19px;
    padding: 5px;
    
    
}
button{
display:flex;
align-content: flex-end;
 margin-left: 5px;
 
}

.datos h1{
    background-color: orange;
    border-radius: 13px;
    
}

h1 .titulo{
    background-color: orange;
    padding: 3px;
    border: 3px solid #7c4200;
    border-radius: 13px;
}