body{
	margin: 0;
	
}

.busca{
height: 20px;
width: 400px;
justify-content: center; 
margin-top: 30px;

}

.cabecera{
	padding: 1em 2em;
	background-color: orange;
	height: 100px;
	display: flex;
	justify-content: space-between;	
}

.LOGO-CABAÑA{
	width: 150px;
	height: 100px;
	float: left;
	margin: 0;
	padding: 0;



}

.LOGO-TICKET{
	margin: 0;
	padding: 0;
	float: right;
	width: 150px;
	height: 100px;
}

.menu{
	background-color: #333333;

}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.menu ul li{
	display: inline-block;
}

.menu ul li a{
	color: white;
	display: block;
	text-decoration: none;
	padding:  30px;

}

a:hover{
	background-color: orange;
}




.slider img{
	margin: 0;
	padding: 0;
    height: 500px;
    width: 100%;

    
}

h1{
	text-align: center;
}

.titulo-destacado{
	font-family: serif;
	background-color: orange;
	text-align: center;
	border-radius: 20px;
	font-size: 1em;
	padding: 5px;
	border: 3px solid #7c4200;
}

div .destacados{

}




@media screen and (max-width: 480px){

.slider img{
	margin: 0;
	padding: 0;
	height: 25%;
	width: 100%;

}



}

@media screen and (min-width: 481px) and (max-width: 768px){



	.slider img{
		margin: 0;
		padding: 0;
		height: 40%;
		width:100%;
	}
}

